.gitRepository
.gitCommit
src/main/cpp/src_emC
src/docs/asciidoc/img
src/docs/asciidoc/cheatsheet4451410561062136175/images
src/test/TI/Test_All/.settings
src/test/TI/Test_Vtbl/.settings
result/result_*.zip
tools
build
result/result
html5
#*
*.bin
*.html
*.pdf
*.marks
*.pp
Debug
DbgC1
x64
.vs
x64
x32
*.db
*.opendb
*deleteMe


