.gitRepository
.gitCommit
_*
src/src_emC
src/docs/asciidoc/img
src/docs/asciidoc/cheatsheet4451410561062136175/images
src-back
result/result_*.zip
tools
build
result/result
html5
wrk-todo
#*
*#
*.bin
*.html
*.pdf
*.marks
*.pp
*deleteMe
*VC.db
.vs
dbgC1
win32
x32
x64
Debug
Release




